@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-cormorant-garamond);
}

/* Hide scrollbar for horizontal scroll sections */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* @theme Inline {
  --font-cormorant: var(--font-cormorant-garamond);
} */

body{
  .text-stroke-red{
    -webkit-text-stroke: 1px #A01B04;
  }
  .text-stroke-brown{
    -webkit-text-stroke: 1px #764640;
  }
  .text-stroke-blue{
    -webkit-text-stroke: 1px #caf0f8;
  }
}

/* View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
